extends layout.jade

block content
	include eventListPaginator     
	div.row
		div.four.columns               
			h5 Event 
		div.four.columns
			h5 User
		div.four.columns
			h5 Repo
	each event in events
		div.row
			div.four.columns               
				a(href='/event/view/' + event.id)
					= event.type
			div.four.columns
				div #{ event.actor.login }
			div.four.columns
				div #{ event.repo.name }   
