div.row
    div.one.column Pages
    div.eleven.columns
        each pageNumber in pageNumbers                      
            a(href='/event/list?page=' + pageNumber + '&perPage=' + 10)
                button= pageNumber