extends layout.jade

block content
	include issueListPaginator     
	div.row
		div.four.columns               
			h5 Title 
		div.four.columns
			h5 User
		div.four.columns
			h5 State
	each issue in issues
		div.row
			div.four.columns               
				a(href='/issue/view/' + issue.id)
					= issue.title
			div.four.columns
				div #{ issue.user.login }
			div.four.columns
				div #{ issue.state}   